{:deps    {io.github.nextjournal/clerk {:mvn/version "0.9.513"}}
 :aliases {:nextjournal/clerk
           {:extra-deps  {io.github.nextjournal/clerk {:git/sha "13ba371a894aa8696697d0a47cf715296c35e4b5"}}
            :extra-paths []
            :exec-fn     nextjournal.clerk/build-static-app!
            :exec-args   {:paths ["notebooks"]}}}}

